.locale-button-container {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 5rem;
  margin: 1rem;

  .locale-button {
    width: 5rem;
    height: 5rem;
    background-color: rgba(57, 48, 219, 0.2);
	  box-shadow:
		      0 -0.06em 0.1em #3930DB inset,
		      0 -0.15em 0.4em #305EDB inset,
		      0 0.05em 0.05em #3930DB inset;
	  cursor: pointer;
    transform-style: preserve-3d;
	  transition-property: box-shadow, transform, width, height;
	  will-change: border-radius, transform;
	  appearance: none;
    animation: morphing 10s linear infinite alternate;
    border-radius: 50%;
    color: white;
    font-size: x-large;
    font-weight: 500;

    &:hover {
      background-color: rgba(57, 48, 219, 0.3);
    }

    @keyframes morphing {
      0% {
        border-radius: 50%;
      }
      50% {
        border-radius: 40% 60% 60% 40% / 70% 30%;
      }
      100% {
        border-radius: 50%;
      }
    }
    
    @keyframes spin {
      100% {
        transform: rotate(0.5turn);
      }
    }
  }
}