.info-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100% - 1rem);
	background-color: rgb(35, 35, 35);
	color: #fff;
	border-radius: 10px;
	flex: 1;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	font-size: 22px;

	h2 {
		font-size: xx-large;
		color: #00aaff;
		text-align: center;
		margin: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}

	&-notselected {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: calc(100% - 4rem);
		font-size: xx-large;
		font-weight: 400;
		color: red;
	}

	.scrollable {
		overflow: hidden;
		overflow-y: auto;
	}

	.info-content {
		display: grid;
		grid-template-columns: calc(25% - 1rem) calc(25% - 1rem) 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 1.5rem;
		padding: 1rem;
		width: 100%;
		overflow: hidden;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0.6rem;
		}
	
		&::-webkit-scrollbar-thumb {
			width: 0.6rem;
			background-color: #00aaff;
			border-radius: 15px;
		}
	}
	
	.info-item {
		display: flex;
		flex-direction: column;
		background-color: #191919;
		border-radius: 15px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
		padding: 1.5rem;
		justify-content: center;
		transition: transform 0.3s, box-shadow 0.3s;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
		}

		span {
			font-size: 22px;
			font-weight: bold;
		}
	
		.info-label {
			font-weight: bold;
			color: #00aaff;
			font-size: 26px;
			margin-bottom: 0.5rem;
		}
	
		.info-value,
		.info-link {
			color: #fff;
			margin-bottom: 0.5rem;
		}
	
		.info-link {
			text-decoration: none;
			color: #00aaff;
	
			&:hover {
				text-decoration: underline;
			}
		}
	
		.progress-bar {
			background-color: #555;
			border-radius: 5px;
			overflow: hidden;
			margin-top: 0.5rem;
	
			.progress {
				background-color: #00aaff;
				height: 1rem;
				width: 0;
				transition: width 0.6s ease;
			}
		}
	
		.experience-state {
			width: 60%;
			align-self: center;
			background-color: #1a1a1a;
			outline: 2px solid rgb(38, 35, 48);
			box-shadow: 0 0 4px 1px rgb(38, 35, 48);
			margin-top: 0.5rem;
			padding: 0.2rem 1rem;
			color: #ccc;
			font-size: medium;
			text-align: center;
			border-radius: 5px;
		}
	
		.info-description {
			margin: 0;
			color: #ddd;
			width: 70%;
			font-size: 22px;
			line-height: 1.5;

		}

		&.name {
			grid-column: 1;
			grid-row: 1;
		}
		&.starttime {
			grid-column: 2;
			grid-row: 1;
		}
		&.startdate {
			grid-column: 1;
			grid-row: 3;
		}
		&.webpage {
			grid-column: 2;
			grid-row: 3;
		}
		&.experience {
			grid-column: 1 / span 2;
			grid-row: 2;
		}

		&.description {
			grid-column: 3;
			grid-row: 1 / span 3; 
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	
	.info-description-item {
		grid-column: 1 / -1;
	}

	.info-experience-item {
		grid-column: span 2;
	}
}
