.skills-projects {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(35,35,35);
  color: #fff;
  margin: 1rem;
  border-radius: 15px;

  h2 {
		font-size: xx-large;
		color: #00aaff;
		text-align: center;
		margin: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}

  &-notselected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% + 2rem + 2rem +  2rem);
    font-size: xx-large;
    font-weight: 400;
    color: red;
  }

  .skill-project-container {
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: white;
    height: 100%;
  
    &.active {
      transition: all ease-in-out 2s;
    }

    &-content{
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-x: scroll;
  
      &::-webkit-scrollbar {
        height: 0.5rem;;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #00aaff;
        border-radius: 5px;
      }
  
      .project-container {
        animation: landingAnimI 1s linear 1s 1 forwards;
        opacity: 0;
        width: 100%;
        height: auto;
        min-width: 500px;
        margin: 0.1rem;
  
        &:only-child {
          .projects-content-holder-item {
            border-radius: 15px !important; 
            img {
              border-radius: 15px;
            }
          }
        }
  
        @keyframes landingAnimI {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
  
      .projects-content-holder-item {
        width: calc(100% - 0.2rem);
        height: calc(100% - 0.2rem);
        max-height: 30vh;
        transition: all 0.1s ease-in-out;
        overflow: hidden;
        margin: 0.1rem;
  
        .content {
          width: calc(100% - 0.2rem);
          height: calc(100% - 0.2rem);
          border-radius: 15px;
          margin-left: 0.1rem;
        }
  
        &:hover {
          outline: 2px solid #55aaff;
        }
      }
    }
  }
}

