.skills-projects {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(35,35,35);
  color: #fff;
  border-radius: 15px;

  h2 {
		font-size: xx-large;
		color: #00aaff;
		text-align: center;
		margin: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}

  &-notselected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% + 2rem + 2rem +  2rem);
    font-size: xx-large;
    font-weight: 400;
    color: red;
  }

  .empty-project-list {
    align-self:center;
    font-size: xx-large;
    font-weight: 400;
    color: red;
  }

  .skill-project-container {
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: white;
    height: 100%;
  
    &.active {
      transition: all ease-in-out 2s;
    }

    &-content{
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-x: auto;
  
      &::-webkit-scrollbar {
        height: 0.5rem;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #0073e6;
        border-radius: 5px;
      }

      &.oneitem {
        justify-content: center;
      }
  
      .project-container {
        animation: landingAnimI 1s linear 1s 1 forwards;
        opacity: 0;
        width: 100%;
        height: auto;
        min-width: 500px;
        margin: 0.1rem;

        .projects-content-holder-item {
          &:hover {
            box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
          }
        }
  
        &:only-child {
          width: 50%;
          .projects-content-holder-item {
            border-radius: 15px !important; 
            img {
              border-radius: 15px;
            }
          }
        }
  
        @keyframes landingAnimI {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

