@import '../../variables.scss';

.skills {
  position: relative;
  width: 80%;
  height: 90vh;
  max-width: 2500px;
  overflow: hidden;
  color: white;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 1rem;
    color: #55aaff;
  }

  h2 {
    position: relative;
    color: #00aaff;
    font-size: 1.5rem;
    animation: loadTrans 1.5s 1 normal forwards;
  }

  @keyframes loadTrans {
    0% {
      transform: translateX(-15%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .scrollable {
      display: flex;
      flex-direction: row;
      height: 100%;
      overflow:hidden;
      overflow-y:scroll;
    }
  }

  .skills-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 200px;
    height: calc(100% - 2rem);
    align-items: center;
    margin: 1rem;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
    background-color: rgb(35,35,35);

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      width: 0.5rem;
      border-radius: 5px;
      background-color:#003474;
    }

    .skill-cloud-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem 0 0.5rem 0;
      transition: all 0.2s ease-in-out;
      
      .skill {
        position: relative;
        min-width: 50px;
        max-width: 150px;
        max-height: 150px;
        background-color: rgba(26,26,26,1);
        border-radius: 50%;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        transition: outline 0s;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        aspect-ratio: 1/1;

        &.active {
          outline: 3px solid #55aaff;
        }

        &.active, &:hover {
          background-color: rgba(100, 100, 100, 0.1);

          .skill-overlay-background {
            height: 100%; 
            transition: height 0.5s ease-in;
          }
          
          img {
            object-fit: scale-down;
            opacity: 0;
            z-index: 2;
          }
          
          .skill-name {
            opacity: 1;
            z-index: 2;
          }
          
          .experience {
            opacity: 1;
            z-index: 2;
          }
        }

        img {
          position: absolute;
          object-fit: contain;
          width: calc(100% - 2rem);
          height: calc(100% - 2rem);
          margin: 1rem;
          opacity: 1;
          transition: opacity 0.2s ease-in-out;
        }

        .skill-overlay {
          position: absolute;
          bottom: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          min-width: 50px;
          max-width: 175px;
          min-height: 50px;
          max-height: 175px;
          border-radius: 50%;
        }

        .skill-overlay-background {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0;
          transition: height 0.2s ease-out;
        }
      
        .skill-name {
          font-size: 1.5rem;
          font-weight: 800;
          color: rgb(255, 255, 255);
          opacity: 0;
          transition: opacity 0.25s ease-in-out;
        }
      }
    }
  }

  .skills-bottom {
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    min-height: 200px;
  }
}

@media screen and (orientation: portrait) {
  .skills {
    width: 100%;
    height: 100%;
    min-height: 0;
    left: 0;
    top: 0;
    background: #000010;
    border-radius: 0;
    overflow: hidden;

    .skill-cloud {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(12vh, 1fr));
      gap: 1rem;
      height: 80vh;
      margin: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      top: 0;
      justify-content: initial;
      align-items: initial;
      overflow: hidden;
      overflow-y: auto;

      &.non-main {
        height: 30vh;
      }

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #003474;
        border-radius: 5px;
      }

      .skill {
        position: relative;
        width: 100%;
        height: 12vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          object-fit: scale-down;
          width: 100%;
          height: 5vh;
        }
      }
    }

    .skill-project-extra {
      height: calc(70vh);
      margin-bottom: 2rem;

      &-content {
        top: 0;
      }
      &-content-holder {
        .projects-content-holder-item {
          min-width: 90vw;
        }
      }
    }
  }
}
