@import '../../variables.scss';

.skills {
  position: relative;
  width: 80%;
  height: 90%;
  min-height: 950px;
  left: 10%;
  top: 5%;
  overflow: hidden;
  color: white;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 1rem;
    color: #55aaff;
  }

  h2 {
    color: white;
    margin: 0;
  }

  .skill-cloud {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    top: 15%;
    margin: 1rem;
    position: relative;
    overflow:visible;
    transition: all 0.3s ease-in-out;

    &.box-collision-active {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1rem;
      justify-content: initial;
      align-items: initial;
      overflow: hidden;
      overflow-y: auto;

      .skill {
        position: relative;
        min-width: 200px;
        min-height: 100px;
        width: auto;
        height: auto;
        padding: 0;

        img {
          width: 75%;
        }
      }

    }

    &.non-main {
      top: 1rem;
    }
    
    .skill {
      background-color: #333;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #55aaff;
      font-size: 1.2rem;
      text-decoration: none;
      position: absolute;
      transition: transform 0.3s;
      cursor: pointer;
      width: 150px;
      height: 75px;
      text-align: center;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
      
      img {
        object-fit: scale-down;
        height: 75%;
        grid-column: 2;
        grid-row: span 2;
      }

      &:hover {
        background-color: rgba(51, 51, 51, 0.5);
      }


      .skill-name {
        display: block;
        margin-bottom: 0.5rem;
        grid-column: 1;
        grid-row: 1;
      }

      .experience {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.8);
        grid-column: 1;
        grid-row: 2;
      }
    }
  }

  .skill-project-extra {
    position: relative;
    display: none;
    flex-direction: column;
    width: 90%;
    height: 80%;
    top: 1rem;
    left: 5%;
    border-radius: 0.5rem;
    color: white;
    
    // Add this into functionality
    &.active {
      display: block;
      transition: all ease-in-out 2s;
      
      h2 {
        position: relative;
        color: #55aaff;
        animation: loadTrans 2s 1 normal forwards;
      }

      @keyframes loadTrans {
        0% {
          transform: translateX(-15%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    h2 {
      position: relative;
      text-align: center;
      top: 1rem;
    }

    &-content, &-content-holder {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 98%;
      height: 90%;
      top: 2.5%;
      left: 1%;
      overflow: hidden;
      overflow-x: auto;
      animation:landingAnimC 2s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;

      @keyframes landingAnimC {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        50% {
          opacity: 0.5;
          transform: translateX(0);
        }
        100% {
          opacity: 1;
        }
      }
  
      &::-webkit-scrollbar {
        height: 0.5rem;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 5px;
      }
      
      &-item {
        position: relative;
        width: 400px;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;
        opacity: 0;

        @keyframes landingAnimI {
          0% {
            opacity: 0;
            transform: translateY(-100%);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
  
        &:hover {
          border: 1px solid #55aaff;

          .content {
            &-description {
              height: 50%;
              max-height: 50%;
              overflow-y: auto;

              p {
                max-height: 100%;
                -webkit-line-clamp: initial;
              }
            }
          }
        }
  
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          text-decoration: none;
          color: white;
        }
        
        img {
          position: relative;
          object-fit: cover;
          width: inherit;
          height: 100%;
          border-radius: 1rem;
        }
  
        &:last-child {
          margin-right: 0.5rem;
        }
  
        .content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
  
          &-title {
            width: 100%;
            text-align: center;
            p {
              font-size: x-large;
              overflow-wrap: normal;
            }
          }

          &-description {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            max-height: 11.5%;
            text-align: center;
            border-radius: 0 0 1rem 1rem;
            background-color: rgba(0,0,0,0.8);
            transition: max-height 0.3s ease-in-out;
            p {
              display: -webkit-box;
              position: relative;
              width: calc(98%);
              max-height: 100%;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              margin-left: 1%;
              overflow:hidden;
              text-overflow: ellipsis;
            }

          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .skills {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000010 ;
    border-radius: 0;
    overflow: auto;
    
    .skill-cloud {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1rem;
      justify-content: initial;
      align-items: initial;
      overflow: hidden;
      overflow-y: auto;

      .skill {
        position: relative;
        width: 100%;
        height: 100px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          object-fit: scale-down;
          width: 100%;
          height: 50%;
        }
      }
    }

    .skill-project-extra {
      height: calc(100% - 30vh - 1rem);
      margin-bottom: 2rem;
    }
  }
}