@import '../../variables.scss';

.skills {
  position: relative;
  width: 80%;
  height: 90%;
  min-height: 950px;
  left: 10%;
  top: 5%;
  overflow: hidden;
  color: white;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 1rem;
    color: #55aaff;
  }

  h2 {
    color: white;
    margin: 0;
  }

  .skill-cloud {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    top: 15%;
    margin: 1rem;
    position: relative;
    overflow: visible;
    transition: all 0.3s ease-in-out;

    &.non-main {
      top: 0;
    }

    &.box-collision-active {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1rem;
      justify-content: initial;
      align-items: initial;
      overflow: hidden;
      overflow-y: auto;

      .skill {
        position: relative;
        min-width: 200px;
        min-height: 100px;
        width: auto;
        height: auto;
        padding: 0;

        img {
          width: 75%;
        }
      }
    }

    .skill {
      background-color: #333;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #55aaff;
      font-size: 1.2rem;
      text-decoration: none;
      position: absolute;
      transition: transform 0.3s;
      cursor: pointer;
      width: 150px;
      height: 75px;
      text-align: center;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;

      img {
        object-fit: scale-down;
        height: 75%;
        grid-column: 2;
        grid-row: span 2;
      }

      &:hover {
        background-color: rgba(51, 51, 51, 0.5);
      }

      .skill-name {
        display: block;
        margin-bottom: 0.5rem;
        grid-column: 1;
        grid-row: 1;
      }

      .experience {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.8);
        grid-column: 1;
        grid-row: 2;
      }
    }
  }

  .skill-project-extra {
    position: relative;
    display: none;
    flex-direction: column;
    width: 90%;
    height: 80%;
    top: 1rem;
    left: 5%;
    border-radius: 0.5rem;
    color: white;

    &.active {
      display: block;
      transition: all ease-in-out 2s;

      h2 {
        position: relative;
        color: #55aaff;
        font-size: 2rem;
        animation: loadTrans 2s 1 normal forwards;
      }

      @keyframes loadTrans {
        0% {
          transform: translateX(-15%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    h2 {
      position: relative;
      text-align: center;
    }

    &-content{
      position: relative;
      display: block;
      width: 98%;
      height: 90%;
      left: 1%;
    }

    &-content-holder {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      gap: 1rem;
      overflow: hidden;
      overflow-x: scroll;
      animation: landingAnimC 2s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;

      @keyframes landingAnimC {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        50% {
          opacity: 0.5;
          transform: translateX(0);
        }
        100% {
          opacity: 1;
        }
      }

      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #003474;
        border-radius: 5px;
      }

      .projects-content-holder-item {
        width: 100%;
        min-width: 25vw;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        animation: landingAnimI 1s linear 1s 1 forwards;
        overflow: hidden;

        @keyframes landingAnimI {
          0% {
            opacity: 0;
            transform: translateY(-100%);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .skills {
    width: 100%;
    height: 100%;
    min-height: 0;
    left: 0;
    top: 0;
    background: #000010;
    border-radius: 0;
    overflow: hidden;

    .skill-cloud {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(12vh, 1fr));
      gap: 1rem;
      height: 80vh;
      margin: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      top: 0;
      justify-content: initial;
      align-items: initial;
      overflow: hidden;
      overflow-y: auto;

      &.non-main {
        height: 30vh;
      }

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #003474;
        border-radius: 5px;
      }

      .skill {
        position: relative;
        width: 100%;
        height: 12vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          object-fit: scale-down;
          width: 100%;
          height: 5vh;
        }
      }
    }

    .skill-project-extra {
      height: calc(70vh);
      margin-bottom: 2rem;

      &-content {
        top: 0;
      }
      &-content-holder {
        .projects-content-holder-item {
          min-width: 90vw;
        }
      }
    }
  }
}
