.commit-box {
  background-color: #1B262C;//#2c2c38;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
  
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #BBE1FA;
  }
}

.activity-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
  //max-width: 350px;
  margin: 16px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .activity-title {
      font-size: 18px;
      color: #61dafb;
      margin: 0;
    }

    .activity-time {
      font-size: 14px;
      color: #a0a0a0;
    }
  }

  .card-content {
    .branch-name {
      font-size: 16px;
      color: #f5f5f5;
      margin: 8px 0;
    }

    .commit-message {
      font-size: 14px;
      color: #c0c0c0;
      margin-bottom: 12px;
    }

    .commit-link {
      font-size: 14px;
      color: #61dafb;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
