.home {
  position: relative;
  width: 100%;
  min-height: 600px;
  height: calc(100vh - 50px);
  z-index: 1;
  overflow: hidden;
  overflow-y: scroll;
  animation: loadInHomeHolder 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 normal forwards;

  @keyframes loadInHomeHolder {
    0% {
      background-color: #000;
    }
    25% {
      background-color: #000;
    }
    100% {
      background-color: transparent;
    }
  }

  .prof-image {
    position: relative;
    top: 15vh;
    left: 5%;
    width: 30%;
    height:70%;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      animation: loadingAnimImg 2s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
      opacity: 0;
        
      @keyframes loadingAnimImg {
        0% {
          transform: translateX(-120%);
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  .home-intro-container {
    position: relative;
    width: 50%;
    left: 50%;
    font-size: 4vw;
    top: 0;
    animation: loadIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s 1 normal forwards;
    opacity: 0;
    pointer-events: none;

    @keyframes loadIn {
      0% {
        transform: translateX(50%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .home-intro-h1 {
      font-size: 4vw;
      color: white;
    }

    .home-intro {
      position: relative;
      height: 5vw;
      overflow: hidden;
      line-height: 5vw;
    }

    .home-intro > span {
      position: absolute;
      top: 0;
      animation: slide 10s 1s infinite;
      font-weight: bold;
      color: white;
      opacity: 0;
      
    }

    @keyframes slide {
      0% {
        top: 0;
        opacity: 0;
      }
      20% {
        top: 0vw;
        opacity: 1;
      }
      40% {
        top: -5vw;
      }
      60% {
        top: -5vw;
      }
      80% {
        top: -10vw;
        opacity: 1;
      }
      95% {
        top: -10vw;
        opacity: 0;
      }
      100% {
        top: 0;
        opacity: 0;
      }
    }
  }

  .links {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

      a {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        max-width: 200px;
        width: 15vh;
        min-height: 100px;
        max-height: 200px;
        height: 15vh;
        pointer-events: auto;

        .navBubble {
          width: 100%;
          height: 100%;
          grid-column: 1;
          grid-row: 1;
          background-color: rgba(57, 48, 219, 0.2);
	        box-shadow:
		            0 -0.06em 0.1em #3930DB inset,
		            0 -0.15em 0.4em #305EDB inset,
		            0 0.05em 0.05em #3930DB inset;
	        cursor: pointer;
          transform-style: preserve-3d;
	        transition-property: box-shadow, transform, width, height;
          transition-timing-function: ease-in-out, ease-in-out, 1s, 1s;
	        will-change: border-radius, transform;
	        -webkit-appearance: none;
	        appearance: none;
          animation: morphing 5s linear infinite alternate, spin 26s linear infinite reverse;
          border-radius: 50%;

          @keyframes morphing {
            0% {
              border-radius: 50%;
            }
            50% {
              border-radius: 40% 60% 60% 40% / 70% 30%;
            }
            100% {
              border-radius: 50%;
            }
          }
          
          @keyframes spin {
            100% {
              transform: rotate(0.5turn);
            }
          }

          &:hover {
            background-color: rgba(57, 48, 219, 0.5);
            box-shadow:
		            0 -0.06em 0.1em hsl(226, 100%, 56%) inset,
		            0 -0.15em 0.4em hsl(242, 90%, 45%) inset,
		            0 0.05em 0.05em hsl(196, 90%, 45%) inset;
          }

          -webkit-tap-highlight-color: transparent;
          &, &::before, &::after {
            transition-duration: 0.2s;
          }

          &.hoverAnim {
            animation: openPage 2s linear 1 alternate forwards;

            @keyframes openPage {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.5);
              }
              55% {
                transform: scale(0);
                opacity: 0;
              }
              80% {
                transform: scale(1);
              }
              100% {
                opacity: 1;
              }
            }
          }
        }

        &:hover {
          color: #44c4fa;
        }

        &.load-in {
          opacity: 0;
          &:nth-child(1){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s 1 normal forwards;
          }
          &:nth-child(2){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2.5s 1 normal forwards;
          }
          &:nth-child(3){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3s 1 normal forwards;
          }
          &:nth-child(4){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3.5s 1 normal forwards;
          }
        }

        

        @keyframes loadingNavLinksAnim {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        
	      z-index: 0;

        &.about-nav {
          position: relative;
          top: 0;
          left: -5%;
        }
        &.skills-nav {
          position: relative;
          top: 0;
          left: 10%;
        }
        &.projects-nav {
          position: relative;
          top: 0;
          left: 10%;
        }
        &.contact-nav {
          position: relative;
          top: 0;
          left: -5%;
        }

        .nav-title {
          position: relative;
          grid-column: 1;
          grid-row: 1;
          font-size: x-large;
          font-weight: 500;
          text-align: center;
          pointer-events: none;
        }
    }
  }
}
 

// Bubble animation
.wrapper {
  height: 100%;
  width: 100vw;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
  position: absolute;
  overflow: hidden;
  z-index: 0;

  div {
    height: 60px;
    width: 60px;
    box-shadow:
		          0 -0.06em 0.1em #3930DB inset,
		          0 -0.15em 0.4em #305EDB inset,
		          0 0.05em 0.05em #30CADB inset;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  
    .dot {
      display: none;
    }
  }

  div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: morphing 8s linear infinite alternate forwards,animate 8s linear infinite;
  
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: morphing 10s linear infinite alternate forwards, animate 10s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: morphing 3s linear infinite alternate forwards, animate 3s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: morphing 7s linear infinite alternate forwards, animate 7s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: morphing 5s linear infinite alternate forwards, animate 5s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: morphing 8s linear infinite alternate forwards, animate 8s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: morphing 10s linear infinite alternate forwards, animate 10s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: morphing 6s linear infinite alternate forwards, animate 6s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: morphing 10s linear infinite alternate forwards, animate 10s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: morphing 7s linear infinite alternate forwards, animate 7s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: morphing 8s linear infinite alternate forwards, animate 8s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: morphing 6s linear infinite alternate forwards, animate 6s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(16) {
    top: 65%;
    left: 72%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(17) {
    top: 45%;
    left: 36%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(18) {
    top: 34%;
    left: 76%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  div:nth-child(19) {
    top: 60%;
    left: 84%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }
  
  div:nth-child(20) {
    top: 68%;
    left: 30%;
    animation: morphing 9s linear infinite alternate forwards, animate 9s linear infinite;
    &.popped {
      animation: poppe 1s linear alternate forwards;
    }
  }

  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) translateX(0) rotate(70deg);
    }
    50% {
      transform: scale(1.15) translateY(-50px) translateX(20px) rotate(180deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) translateX(-20px) rotate(360deg);
    }
  }

  @keyframes morphing {
    0% {
      border-radius: 50%;
    }
    50% {
      border-radius: 48% 52% 52% 48% / 55% 45%;
    }
    100% {
      border-radius: 50%;
    }
  }
  
  @keyframes poppe {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5) translateY(-10px);
      opacity: 0;
    }
  }
}

.overlay-page {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 101;
  transform-origin: center;
  animation: expand 1.5s 1 forwards;

  .close-button {
    all: unset;
    width: 100%;
    height: 2rem;
    background-color: #003474;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      position: relative;
      width: 50px;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      top: 0.3rem;

      span {
        display: block;
        position: absolute;
        
        &:before, &:after {
          content: '';
          display: inline-block;
          height: 1.5rem;
          width: 0.5rem;
          background-color: white;
          border-radius: 10px;
          position: relative;
        }
        
        &:before {
          transform: rotate(-45deg);
          left: 0;
          top: -4px;
        }
        
        &:after {
          transform: rotate(45deg);
          left: 5px;
          top: -4px;
        }
      }
    }
  }

  @keyframes expand {
    0% {
      width: 10%;
      height: 10%;
      overflow: hidden;
    }
    25% {

    }
    50% {
      width: 10%;
      height: 10%;
      top:50%;
      left: 50%;
      overflow: hidden;
    }
    100% {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      overflow: auto;
    }
  }
}

@media (orientation: portrait) {
  .home {
    width: 100vw;
    overflow: auto;
    overflow-y: scroll;
    .home-intro-container {
      width: 90%;
      height: auto;
      left: 5%;
      font-size: 7vw;
      top: 2.5%;
      flex: 1;
  
      .home-intro-h1 {
        font-size: 7vw;
        color: white;
      }

      .home-intro {
        width: 100%;
        height: 7vw;
        line-height: 7vw;
      }

      @keyframes slide {
        0% {
          top: 0;
          opacity: 0;
        }
        20% {
          top: 0;
          opacity: 1;
        }
        50% {
          top: -7vw;
        }
        55% {
          top: -7vw;
        }
        75% {
          top: -14vw;
          opacity: 1;
        }
        95% {
          top: -14vw;
          opacity: 0;
        }
        100% {
          top: 0;
          opacity: 0;
        }
      }
    }

    .prof-image {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height:80%;

      img {
        width: 40vh;
        height: 40vh;
        object-fit: contain;
      }
    
      .links {
      position: relative;
      display: grid;
      top: 0;
      left: 0;
      gap: 0;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      justify-items: center;
      align-items: center;
      pointer-events: none;
      flex: 1;

      a {
        min-width: 60px;
        max-width: 150px;
        width: 15vh;
        min-height: 60px;
        max-height: 150px;
        height: 15vh;
        font-size: 1rem;

        &.about-nav {
          position: relative;
          top: 0;
          left: 0;
          grid-column: 1;
          grid-row: 1;
        }
        &.skills-nav {
          position: relative;
          top: 0;
          left: 0;
          grid-column: 1;
          grid-row: 2;
        }
        &.projects-nav {
          position: relative;
          top: 0;
          left: 0;
          grid-column: 2;
          grid-row: 1;
        }
        &.contact-nav {
          position: relative;
          top: 0;
          left: 0;
          grid-column: 2;
          grid-row: 2;
        }
      }
      }
    }
  }

  .overlay-page {
    .about-container{
      padding-bottom: 1rem;
    }

    .close-button {
      border-radius: 0;
    }
  }
}