.home {
  width: 100%;
  height: calc(100vh - 50px);
  z-index: -2;
  overflow: auto;
  
 .holder {
  position: relative;
  top:-50px;
  pointer-events: none;
  width: 100%;
  height: calc(100vh - 50px);
  animation: loadInHomeHolder 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 normal forwards;
  padding: 1rem 0;

  @keyframes loadInHomeHolder {
    0% {
      background-color: #000;
    }
    25% {
      background-color: #000;
    }
    100% {
      background-color: transparent;
    }
  }
  
 }
  .prof-image {
    position: relative;
    top: 20%;
    left: 5%;
    width: 30%;
    height:70%;
    z-index: 2;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      pointer-events: auto;
      animation: loadingAnimImg 2s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
      opacity: 0;
        
      @keyframes loadingAnimImg {
        0% {
          transform: translateX(-120%);
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  .home-intro-container {
    position: relative;
    width: 50%;
    left: 50%;
    font-size: 4vw;
    top: 0;
    animation: loadIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s 1 normal forwards;
    opacity: 0;

    @keyframes loadIn {
      0% {
        transform: translateX(50%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .home-intro-h1 {
      font-size: 4vw;
      color: white;
    }

    .home-intro {
      position: relative;
      height: 5vw;
      overflow: hidden;
    }

    .home-intro > span {
      position: absolute;
      top: 0;
      animation: slide 6s 1s infinite;
      font-weight: bold;
      color: white;
      
    }

    @keyframes slide {
      0% {
        top: 0vw;
      }
      40.5% {
        top: -4.5vw;
      }
      85% {
        top: -9vw;
      }
    }
  }

  .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -5%;
    left: 100%;
    pointer-events: none;

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5vh;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      

      a {
        position: relative;
        display: flex;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        max-width: 170px;
        width: 17vh;
        min-height: 100px;
        max-height: 170px;
        height: 17vh;
        pointer-events: auto;

        &.load-in {
          opacity: 0;
          &:nth-child(1){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s 1 normal forwards;
          }
          &:nth-child(2){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2.5s 1 normal forwards;
          }
          &:nth-child(3){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3s 1 normal forwards;
          }
          &:nth-child(4){
            animation: loadingNavLinksAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3.5s 1 normal forwards;
          }
        }

        

        @keyframes loadingNavLinksAnim {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        -webkit-tap-highlight-color: transparent;
        &, &::before, &::after {
          transition-duration: 0.2s;
        }

        &, &::after {
          border-radius: 50%;
        }
        background-color: rgba(57, 48, 219, 0.2);
        background-image:
		    radial-gradient(8% 8% at 22% 28%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		    radial-gradient(8% 8% at 23% 27%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		    radial-gradient(8% 8% at 24% 26%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		    radial-gradient(8% 8% at 25% 25%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		    radial-gradient(8% 8% at 26% 24%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		    radial-gradient(8% 8% at 27% 23%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
		    radial-gradient(8% 8% at 28% 22%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%);
	      box-shadow:
		          0 -0.06em 0.1em #3930DB inset,
		          0 -0.15em 0.4em #305EDB inset,
		          0 0.05em 0.05em #3930DB inset;
	      cursor: pointer;
        transform-style: preserve-3d;
	      transition-property: box-shadow, transform, width, height;
        transition-timing-function: ease-in-out, ease-in-out, 1s, 1s;
	      will-change: transform;
	      -webkit-appearance: none;
	      appearance: none;
	      z-index: 0;

        &.about-nav {
          position: relative;
          top: -5%;
          left: -20%;
        }
        &.skills-nav {
          position: relative;
          top: 0;
          left: 5%;
        }
        &.projects-nav {
          position: relative;
          top: 5%;
          left: 5%;
        }
        &.contact-nav {
          position: relative;
          top: 10%;
          left: -25%;
        }

        &:hover {
          background-color: rgba(57, 48, 219, 0.5);
          box-shadow:
		          0 -0.06em 0.1em hsl(226, 100%, 56%) inset,
		          0 -0.15em 0.4em hsl(242, 90%, 45%) inset,
		          0 0.05em 0.05em hsl(196, 90%, 45%) inset;
          animation: openPage 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal;

          @keyframes openPage {
            0% {
              transform: scaleX(1);
            }
            50% {
              transform: scaleX(0.5);
            }
            100% {
              transform: scaleX(1);
            }
          }
        }

        li {
          font-size: x-large;
          font-weight: 500;
        }
      }
    }
  }
}
 

// Bubble animation
.wrapper {
  height: calc(100vh - 50px);
  width: 100vw;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
  position: absolute;
  overflow: hidden;
  z-index: 0;

  div {
    height: 60px;
    width: 60px;
    box-shadow:
		          0 -0.06em 0.1em #3930DB inset,
		          0 -0.15em 0.4em #305EDB inset,
		          0 0.05em 0.05em #30CADB inset;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  
    .dot {
      display: none;
    }
  }

  div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(16) {
    top: 65%;
    left: 72%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(17) {
    top: 45%;
    left: 36%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(18) {
    top: 34%;
    left: 76%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  div:nth-child(19) {
    top: 60%;
    left: 84%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }
  
  div:nth-child(20) {
    top: 68%;
    left: 30%;
    animation: animate 9s linear infinite;
    &.popped {
      animation: poppe 1s forwards;
    }
  }

  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
  
  @keyframes poppe {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
}

.overlay-page {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  transform-origin: center;
  animation: expand 1.5s 1 forwards;

  @keyframes expand {
    0% {
      width: 10%;
      height: 10%;
      overflow: hidden;
    }
    25% {

    }
    50% {
      width: 10%;
      height: 10%;
      top:50%;
      left: 50%;
      overflow: hidden;
    }
    100% {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      overflow: auto;
    }
  }
}

@media screen and (max-height: 600px),(height > width) {
  .home {
    .holder {
      .prof-image {
        .links {
          height: 70vh;
          
          ul {
            gap:0 !important;
            a {
              min-width: 50px;
              min-height: 50px;
            }
          }
        }

      }
    }
  }
}

@media (orientation: portrait) {
  .home {
    .holder {
      .home-intro-container {
      width: 90%;
      left: 5%;
      top: 35%;
      font-size: 4vh;
  
      .home-intro-h1 {
        font-size: 4vh;
        color: white;
      }

      .home-intro {
        height: 5vh;
      }

      @keyframes slide {
        0% {
          top: 0vh;
        }
        40.5% {
          top: -4.5vh;
        }
        85% {
          top: -9vh;
        }
      }
      }

        .prof-image {
      position: relative;
      top: 5%;
      left: 25%;
      width: 50%;
      height:50%;
    
      .links {
      position: relative;
      top: -5%;
      left: -45%;
      width: 90vw;
      pointer-events: none;
  
      ul {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30%;
        list-style-type: none;
        justify-items: center;
        justify-content: center;
  
        a {
          min-width: 60px;
          max-width: 150px;
          width: 10vh;
          min-height: 60px;
          max-height: 150px;
          height: 10vh;
  
          &.about-nav {
            position: relative;
            top: 0;
            left: 0;
            grid-column: 1;
            grid-row: 1;
          }
          &.skills-nav {
            position: relative;
            top: 0;
            left: 0;
            grid-column: 1;
            grid-row: 2;
          }
          &.projects-nav {
            position: relative;
            top: 0;
            left: 0;
            grid-column: 2;
            grid-row: 1;
          }
          &.contact-nav {
            position: relative;
            top: 0;
            left: 0;
            grid-column: 2;
            grid-row: 2;
          }
        }
      }
      }
      }
    }
  }
}