.projects-content-holder-item {
  position: relative;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  will-change: transform;
  z-index: 1;
  overflow: hidden;

  &:hover {
    .content {
      max-height: 100%;
      backdrop-filter: blur(1px);
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 70%);

      &::before {
        box-shadow: none;
      }

      &-description {
        opacity: 1;
        transition-delay: 0.25s;
        flex: 1;
      }
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-decoration: none;
    color: white;
  }

  img {
    position: relative;
    object-fit: cover;
    width: inherit;
    height: 100%;
    border-radius: 1rem;
  }

  &:last-child {
    margin-right: 0.5rem;
  }

  .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 70%);
    border-top-left-radius: 20px;
    max-height: 50px;
    height: 100%;
    transition: max-height 0.25s;
    display: flex;
    flex-direction: column;
    z-index: 2;

    &-title {
      width: 100%;

      h3 {
        font-size: 1.5rem;
        overflow-wrap: normal;
        margin: 0;
        margin-top: 0.5rem;
      }
    }

    &-description {
      position: relative;
      opacity: 0;
      transition: opacity 0.5s;
      overflow: hidden;
      overflow-y: auto;
      flex: 1;

      p {
        margin: 0.5rem 1.5rem 0.5rem 1.5rem;
        display: inline-block;
        text-align: justify;
      }
    }
  }
}