.close-button {
  all: unset;
  width: 100%;
  height: 2rem;
  background-color: #003474;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: background-color 0.20s ease-in-out;

  &:hover {
    background-color:hsl(226, 100%, 56%);
  }

  div {
    position: relative;
    width: 50px;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    top: 0.3rem;

    span {
      display: block;
      position: absolute;
      
      &:before, &:after {
        content: '';
        display: inline-block;
        height: 1.5rem;
        width: 0.5rem;
        background-color: white;
        border-radius: 10px;
        position: relative;
        margin-top: 25%;
      }
      
      &:before {
        transform: rotate(-45deg);
        left: 0;
        top: -4px;
      }
      
      &:after {
        transform: rotate(45deg);
        left: 5px;
        top: -4px;
      }
    }
  }
}