.overlay-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 101;
  transform-origin: center;
  animation: expand .5s 1 forwards;
  backdrop-filter: blur(10px);

  @keyframes expand {
    0% {
      width: 10%;
      height: 10%;
      overflow: hidden;
    }
    25% {

    }
    50% {
      width: 10%;
      height: 10%;
      top:50%;
      left: 50%;
      overflow: hidden;
    }
    100% {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      overflow: auto;
    }
  }
}

@media (orientation: portrait) { 
  .overlay-page {
    .about-container{
      padding-bottom: 1rem;
    }

    .close-button {
      border-radius: 0;
    }
  }
}