.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  text-align: center;
  height: 50px;
  color: white;
  justify-content: center;
  align-items: center;

  .footer-text {
    margin: 0;
  }
}