.contact {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(90deg, #0f0925 0%, #004770 50%, #0f0925 100%);
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);

  form {
    width: 90%;
    margin: 3rem;

    h1 {
      font-size: 2rem;
      color: white;
      margin-bottom: 1rem;
      text-align: center;
    }

    input, textarea, select, button {
      color: #fff;
    }

    .form-group {
      position: relative;
      display: block;
      margin-bottom: 48px;

      textarea {
        resize: none;
        transition: height .4s, border-bottom .4s !important;
        padding-top: 10px;
        padding-bottom: 10px;
        
        &:valid, &:focus {
          height: 20vh !important;
          max-height: 200px;
        }
      }
    
      .form-control {
        border: none;
        border-bottom: 2px solid #00ade6;
        display: block;
        width: 100%;
        height: 39px;
        font-size: 15px;
        background: none;

        input {
          color: #fff;
        }

        &:focus, &:valid, &:not(&:placeholder-shown) {
          border-bottom: 2px solid #fff;

          & + span {
            transform: translateY(-22px) scale(.8);

            & + .border {
              transform: scaleX(1);
            }
          }
        }

        &:focus-visible {
          outline: 0;
        }

      }

      span {
        font-size: 15px;
        color: #00abe6;
        position: absolute;
        top: 11px;
        transition: all .2s ease;
        transform-origin: 0 0;
        cursor: text;

        &.border {
          height: 2px;
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          top: 41px;
          transform: scaleX(0);
          transition: all .15s ease;
          background: #fff;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;

      button {
        border: none;
        width: 162px;
        height: 51px;
        border: 2px solid #fff;
        margin: auto;
        margin-top: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: none;
        color: #fff;
        text-transform: uppercase;
        transform: perspective(1px) translateZ(0);
        position: relative;
        transition-property: color;
        transition-duration: 0.3s;
  
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #2098D1;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
  
        &:hover {
          border-color: transparent;
  
          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .contact {
    align-self: initial;
    justify-content: initial;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    transform: translateY(0);

    .close-button {
      position: absolute;
      top: 0;
    }

    form {
      position: relative;
      top: 5vh;
    }
  }
}