.contact {
  position: relative;
  top: 35%;
  left: 20%;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(90deg, #0f0925 0%, #004770 50%, #0f0925 100%); /* Adjusted background */
  padding: 2rem 0;

  h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
    max-width: 400px;
    background-color: transparent;// #0f0925; /* Dark purple background */
    border-radius: 1rem;
    padding: 2rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: white;
    }

    input,
    textarea {
      width: 93%;
      padding: 0.8rem;
      border: 1px solid #4F2649; /* Dark pink border */
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: white; /* White text color */
      background-color: #0f0925; /* Dark purple background */
    }

    textarea {
      resize: vertical;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: #006994; /* Ocean deep blue button */
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #004770; /* Darker blue on hover */
      }
    }

    button[type="button"] {
      display: block;
      width: 100%;
      padding: 1rem;
      background-color: #006994; /* Ocean deep blue button */
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #004770; /* Darker blue on hover */
      }
    }
  }
}